body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab',serif;
  font-weight: 300;
  color: #111;
  background: url(svgs/background.svg) #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  transition: transform .5s ease-in-out;
}

header nav ul li:hover {
  transform: scale(1.2) rotate(10deg);
}

header h1 {
  line-height: 1em;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

main ul {
  padding: 0;
}

main li,main li .dog {
  display: inline-block;
  list-style-type: none;
  color: #ba8058;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 170px;
  height: 170px;
}

main li span {
  margin-left: -40px;
}

main li:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* ====== Logo Styles ====== */
.logo-outer-circle {
  fill: #BA8058;
}

.logo-text {
  fill: #EAAA7F;
}

.logo-paw {
  fill: #F4C6A6;
}

.logoH1 {
  display: block;
}

.logo-text {
  opacity: 0;
}

.logo {
  margin-top: -40px;
  max-width: 40%;
}

/* ====== Nav Icon Styles ====== */
.icons {
  max-width: 28px;
  width: 100%;
  height: 14px;
  fill: #39ADD1;
}

a:hover .icons {
  fill: #111;
}

/* ====== Dog Styles ====== */

.dog {
  max-width:170px;
  width:100%;
  height:auto;
}

/* ====== Black and Tan ======*/

.bt-ear,
.bt-brows {fill:#BA8058;} 
.bt-outer-c {fill:#52595F;} 
.bt-snout {fill:#FBFEFF;} 
.bt-eyes-nose {fill:#2D3339;}


/* ====== Fawn ======*/

.f-outer-c,
.f-ears {fill:#EAAA7F;} 
.f-snout {fill:#FBFEFF;} 
.f-eyes-nose {fill:#2D3339;} 
.f-brows {fill:#F4C6A6;}


/* ====== Sable ======*/

.sable-outer-c,
.sable-ears {fill:#844B24;} 
.sable-snout {fill:#FBFEFF;} 
.sable-eyes-nose {fill:#2D3339;} 
.sable-brows {fill:#BA8058;}


/* ====== Red ======*/
.red-outer-c,
.red-ears {fill:#BA8058;} 
.red-snout {fill:#FBFEFF;} 
.red-eyes-nose {fill:#2D3339;} 
.red-brows {fill:#EAAA7F;}


@media screen and (min-width: 421px) {
  .logo {
    max-width: 140px;
    width: 100%;
    height: auto;
  }

  .logo-text {
    opacity: 1;
  }

  .logoH1 {
    display: none;
  }
}

